# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# .emacs.d private files
history
*desktop*
/elpa/
/elpa.old/
ido.last
*bookmarks*
network-security.data
places
/url/
debbugs
tramp
recentf
abbrev_defs
projectile.cache
/request/
ac-comphist.dat
.emacs.keyfreq
/games/

# per-PC configuration file
local.el