# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# .emacs.d private files
history
*desktop*
/elpa/
/elpa-backups/
ido.last
*bookmarks*
network-security.data
places
/url/
debbugs
tramp
recentf
abbrev_defs
projectile.cache
/request/
ac-comphist.dat
.emacs.keyfreq
/games/
/transient/
.lsp-session-v1
eshell/
/server/
projects
/eln-cache/

# customize
custom.el

# multisession
multisession

# misc.
tutorial/
ielm-history.eld
tree-sitter/
.org-id-locations
session.*
